@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin :0;
    box-sizing: border-box;
   font-family: optional; 
}

body{
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color #f4f4f4;;
}


.form{  
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px ;
    box-shadow: 20px  20px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.form .profile-image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(85, 124, 231);
    padding: 3px;
}

.form .profile-image .picture{
    width: 100%;
    height: 100%;
    object-fit:cover ;
    border-radius: 50%;
    border: 2px solid white;
}



.form .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.form .text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.form .text-data .job{
    font-size: 15px;
    font-weight: 400;
}



.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.social-media a {
    color: #f4f4f4;

}
.social-media a i{
    border-radius: 50%;
    color: none;
    margin: 0px 7px;
    padding: 10px;

}



.form .buttens{
    margin:10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .buttens .sub,.message{
    padding: 15px;
    margin: 0px 10px;
    border-radius: 24px;
    border:1px solid rgb(207, 207, 207);
    background: rgb(44, 152, 223);
    color: #fff;
}



.form .item-three{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .item-three .item{
    display: flex;
    margin: 10px;
    border-right: 2px solid rgb(203, 203, 203) ;
    padding: 10px;
}
.item-three .item:last-child{
   border-right: none;
}